:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

.links line {
  stroke: #000;
  /* stroke-opacity: 0.6; */
}

.labels text {
  color: #000;
  font-family: "Fira Code";
}

/* .nodes circle { */
/*   stroke: #fff; */
/*   stroke-width: 1.5px; */
/* } */
